# Managed by Ansible
#==========================  Modules configuration =============================
auditbeat.modules:

{% if auditbeat_module.auditd.enabled | bool %}
- module: auditd
  # Load audit rules from separate files. Same format as audit.rules(7).
  audit_rule_files: [ '${path.config}/audit.rules.d/*.conf' ]
{% endif %}
{% if auditbeat_module.file_integrity.enabled | bool %}
- module: file_integrity
  paths:
    {{ auditbeat_module.file_integrity.paths | to_nice_yaml | trim | indent(4) }}
  max_file_size: {{ auditbeat_module.file_integrity.max_file_size | default("100 MiB") }}
{% endif %}
{% if auditbeat_module.system.enabled | bool %}
- module: system
  datasets:
    {{ auditbeat_module.system.datasets | to_nice_yaml | trim | indent(4) }}

  # How often datasets send state updates with the
  # current state of the system (e.g. all currently
  # running processes, all open sockets).
  state.period: {{ auditbeat_module.system.state_period | default('12h') }}

  # Enabled by default. Auditbeat will read password fields in
  # /etc/passwd and /etc/shadow and store a hash locally to
  # detect any changes.
  user.detect_password_changes: {{ auditbeat_module.system.user_detect_password_changes | default(true) }}

  # File patterns of the login record files.
  login.wtmp_file_pattern: {{ auditbeat_module.system.login_wtmp_pattern | default('/var/log/wtmp*') }}
  login.btmp_file_pattern: {{ auditbeat_module.system.login_btmp_pattern | default('/var/log/btmp*') }}

  process.hash.max_file_size: {{ auditbeat_module.system["process.hash.max_file_size"] | default("100 MiB") }}
{% endif %}
#==================== Elasticsearch template setting ==========================
setup.template.enabled: {{ auditbeat_template.enabled | default(true) }}
setup.template.settings:
  index.number_of_shards: {{ auditbeat_template.number_of_shards | default(1) }}

#================================ General =====================================

{% if auditbeat_general.tags is defined %}
tags: {{ auditbeat_general.tags | to_json }}
{% endif %}

{% if auditbeat_cloud is defined %}
#============================= Elastic Cloud ==================================

# These settings simplify using Auditbeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
cloud.id: {{ auditbeat_cloud.id }}

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
cloud.auth: {{ auditbeat_cloud.auth }}
{% endif %}

{% if auditbeat_ilm is defined %}
#=================================== ILM ======================================
setup.ilm.enabled: {{ auditbeat_ilm.enabled | default("auto") }}
{% if auditbeat_ilm.enabled != "false" %} 
setup.ilm.rollover_alias: {{ auditbeat_ilm.rollover_alias | default("auditbeat-%{[agent.version]}") }}
setup.ilm.pattern: {{ auditbeat_ilm.pattern | default("%{now/d}-000001") }}
setup.ilm.policy_name: {{ auditbeat_ilm.policy_name | default("auditbeat-%{[agent.version]}") }}
setup.ilm.check_exists: {{ auditbeat_ilm.check_exists | default(true) }}
{% endif %}
{% endif %}
#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

{% if auditbeat_output.type == "elasticsearch" %}
#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: {{ auditbeat_output.elasticsearch.hosts | to_json }}

{% if auditbeat_output.elasticsearch.security.enabled | bool %}
  # Optional protocol and basic auth credentials.
  username: {{ auditbeat_output.elasticsearch.security.username }}
  password: {{ auditbeat_output.elasticsearch.security.password }}
  protocol: {{ auditbeat_output.elasticsearch.security.protocol }}
{% if auditbeat_output.elasticsearch.security.ssl_certificate_authorities is defined %}
  ssl.certificate_authorities: {{ auditbeat_output.elasticsearch.security.ssl_certificate_authorities | to_json }}
{% endif %}
{% if 'https' == auditbeat_output.elasticsearch.security.protocol  %}
  ssl.verification_mode: {{ auditbeat_output.elasticsearch.security.ssl_verification_mode | default("full") }}
{% endif %}
{% endif %}
{% endif %}
{% if auditbeat_output.type == "logstash" %}
#----------------------------- Logstash output --------------------------------
output.logstash:
  # The Logstash hosts
  hosts: {{ auditbeat_output.logstash.hosts | to_json }}

{% if auditbeat_output.logstash.security.ssl_certificate_authorities is defined %}
  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  ssl.certificate_authorities: {{ auditbeat_output.logstash.security.ssl_certificate_authorities | to_json }}
{% endif %}
{% endif %}
{% if auditbeat_output.type == "redis" %}
#------------------------------ Redis output ---------------------------------
output.redis:
  hosts: {{ auditbeat_output.redis.hosts | to_json }}
{% if auditbeat_output.redis.password is defined %}
  password: {{ auditbeat_output.redis.password }}
{% endif %}
  key: {{ auditbeat_output.redis.key }}
{% if auditbeat_output.redis.timeout is defined %}
  timeout: {{ auditbeat_output.redis.timeout }}
{% endif %}
{% endif %}
#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

{% if auditbeat_processors is defined %}
processors:
  {{ auditbeat_processors | indent( width=2 ) }}
{% endif %}

#============================== X-Pack Monitoring ===============================
# auditbeat can export internal metrics to a central Elasticsearch monitoring
# cluster.  This requires xpack monitoring to be enabled in Elasticsearch.  The
# reporting is disabled by default.

# Set to true to enable the monitoring reporter.
#monitoring.enabled: false

# Sets the UUID of the Elasticsearch cluster under which monitoring data for this
# Auditbeat instance will appear in the Stack Monitoring UI. If output.elasticsearch
# is enabled, the UUID is derived from the Elasticsearch cluster referenced by output.elasticsearch.
#monitoring.cluster_uuid:

# Uncomment to send the metrics to Elasticsearch. Most settings from the
# Elasticsearch output are accepted here as well.
# Note that the settings should point to your Elasticsearch *monitoring* cluster.
# Any setting that is not set is automatically inherited from the Elasticsearch
# output configuration, so if you have the Elasticsearch output configured such
# that it is pointing to your Elasticsearch monitoring cluster, you can simply
# uncomment the following line.
#monitoring.elasticsearch:
{% if auditbeat_migration is defined %}
#================================= Migration ==================================

# This allows to enable 6.7 migration aliases
migration.6_to_7.enabled: {{ auditbeat_migration }}
{% endif %}
